@{
    ViewData["Title"] = "Mes liens";
}
@model IEnumerable<PROJET_FIN.Models.Post>
<h2>Mes liens</h2>
<table class="table">
  <thead>
    <tr >
      <th scope="col" class="text-left">Liens</th>
      <th scope="col" class="text-center">Commentaires</th>
      <th scope="col" class="text-center">UpVote</th>
      <th scope="col" class="text-center">DownVote</th>
      <th scope="col" class="text-center">Action</th>
    </tr>
  </thead>

    
    @foreach (var item in Model)
    {
       <tr>
           <td><a href="" class="h5">@item.Link</a><br/>
         
           <p class="h6">Date de publication @item.PublicationDate</p></td>
           @{
               int counter=0;
               foreach (var c in ViewBag.comments){
                   if(c.PostId==item.Id){
                       counter++;
                   }
               }
           }
           
           <td class="text-center"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
  <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
</svg> @counter</td>
@{  
    String upVoteSign="";
    if (@item.UpVote!=0){
        upVoteSign="+";
    } else {
        upVoteSign="";
    }
    String downVoteSign="";
    if (@item.DownVote!=0){
        downVoteSign="-";
    } else {
        downVoteSign="";
    }
    // Add this directly when comment entered??
    var voteRating=@item.UpVote-@item.DownVote;
}

           <td  class="text-center"><span>@upVoteSign</span>@item.UpVote</td>
           <td  class="text-center"><span>@downVoteSign</span>@item.DownVote</td>
           <td  asp-action="remove" class="text-center">REMOVE</td>
       </tr> 
    }
</table>


